{% extends 'admin.html.twig' %}

{% block content %}
<main>
    <section>
        <h1 class="text-center">Properties</h1>
        <h2 class="text-center mt-5">List of properties</h2>
        <div class="overflow-scroll mt-3" style="height: 600px">
            <table class="table" style="height: 100%">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Short Description</th>
                    <th scope="col">Location</th>
                    <th scope="col">No Bedrooms</th>
                    <th scope="col">No Bathrooms</th>
                    <th scope="col">Type</th>
                    <th scope="col">Sq Feet</th>
                    <th scope="col">Listing Price</th>
                    <th scope="col">Transfer Tax</th>
                    <th scope="col">Legal Fees</th>
                    <th scope="col">Home Inspection</th>
                    <th scope="col">Insurance</th>
                    <th scope="col">Mortg. Fees</th>
                    <th scope="col">Property Tax</th>
                    <th scope="col">Assos. Fees</th>
                    <th scope="col">Addit. Fees</th>
                    <th scope="col">Down Payment</th>
                    <th scope="col">Mortg. Amount</th>
                    <th scope="col">Mortg. Pay</th>
                    <th scope="col">Monthly Insurance</th>
                </tr>
                </thead>

                <tbody>
                {% for property in allProperties %}
                    <tr>
                        <th>{{ property.getId()|e }}</th>
                        <td>{{ property.getName()|e }}</td>
                        <td>{{ property.getDescriptionForCard()|e }}</td>
                        <td>{{ property.getLocation()|e }}</td>
                        <td>{{ property.getNoBedrooms()|e }}</td>
                        <td>{{ property.getNoBathrooms()|e }}</td>
                        <td>{{ property.getType()|e }}</td>
                        <td>{{ property.getSqFeet()|e }}</td>
                        <td>{{ property.getListingPrice()|e }}</td>
                        <td>{{ property.getTransferTax()|e }}</td>
                        <td>{{ property.getLegalFees()|e }}</td>
                        <td>{{ property.getHomeInspection()|e }}</td>
                        <td>{{ property.getInsurance()|e }}</td>
                        <td>{{ property.getMortgFees()|e }}</td>
                        <td>{{ property.getPropertyTax()|e }}</td>
                        <td>{{ property.getAssosFee()|e }}</td>
                        <td>{{ property.getAdditFee()|e }}</td>
                        <td>{{ property.getDownPayment()|e }}</td>
                        <td>{{ property.getMortgAmount()|e }}</td>
                        <td>{{ property.getMortgPay()|e }}</td>
                        <td>{{ property.getPropInsuranceMonth()|e }}</td>

                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

    </section>

    <section>
        <h2 class="text-center mt-5 mb-3">Editing</h2>
        <div class="d-flex justify-content-center flex-wrap gap-3">
            {% for property in allProperties %}
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    {{ property.getName()|e }}
                </button>
                <form class="dropdown-menu p-4" action="index.php?route=edit-property" method="POST" style="width: 70vw;">
                    <input type="hidden" name="csrf-token" value="{{ csrf_token }}" />
                    <input type="hidden" name="property-id" value="{{ property.getId()|e }}" />

                    <fieldset class="mb-3">
                        <label for="property-location" class="form-label">Location</label>
                        <input type="text" class="form-control" id="property-location" name="property-location" value="{{ property.getLocation()|e }}">
                    </fieldset>

                    <fieldset class="mb-3">
                        <label for="property-bedrooms" class="form-label">No. Bedrooms</label>
                        <input type="text" class="form-control" id="property-bedrooms" name="property-bedrooms" value="{{ property.getNoBedrooms()|e }}">
                    </fieldset>

                    <fieldset class="mb-3">
                        <label for="property-bathrooms" class="form-label">No. Bedrooms</label>
                        <input type="text" class="form-control" id="property-bathrooms" name="property-bathrooms" value="{{ property.getNoBathrooms()|e }}">
                    </fieldset>

                    <fieldset class="mb-3">
                        <label for="property-type" class="form-label">Type</label>
                        <input type="text" class="form-control" id="property-type" name="property-type" value="{{ property.getType()|e }}">
                    </fieldset>

                    <fieldset class="mb-3">
                        <label for="property-feet" class="form-label">Sq. Feet</label>
                        <input type="text" class="form-control" id="property-feet" name="property-feet" value="{{ property.getSqFeet()|e }}">
                    </fieldset>

                    <fieldset class="mb-3">
                        <label for="property-listing" class="form-label">Listing Price</label>
                        <input type="text" class="form-control" id="property-listing" name="property-listing" value="{{ property.getListingPrice()|e }}">
                    </fieldset>

                    <fieldset class="mb-3">
                        <label for="property-transfer-tax" class="form-label">Transfer Tax</label>
                        <input type="text" class="form-control" id="property-transfer-tax" name="property-transfer-tax" value="{{ property.getTransferTax()|e }}">
                    </fieldset>

                    <fieldset class="mb-3">
                        <label for="property-legal-fees" class="form-label">Legal Fees</label>
                        <input type="text" class="form-control" id="property-legal-fees" name="property-legal-fees" value="{{ property.getLegalFees()|e }}">
                    </fieldset>

                    <fieldset class="mb-3">
                        <label for="property-inspection" class="form-label">Home Inspection</label>
                        <input type="text" class="form-control" id="property-inspection" name="property-inspection" value="{{ property.getHomeInspection()|e }}">
                    </fieldset>

                    <fieldset class="mb-3">
                        <label for="property-insurance" class="form-label">Insurance</label>
                        <input type="text" class="form-control" id="property-insurance" name="property-insurance" value="{{ property.getInsurance()|e }}">
                    </fieldset>

                    <fieldset class="mb-3">
                        <label for="property-mort-fees" class="form-label">Mortg. Fees</label>
                        <input type="text" class="form-control" id="property-mort-fees" name="property-mort-fees" value="{{ property.getMortgFees()|e }}">
                    </fieldset>

                    <fieldset class="mb-3">
                        <label for="property-tax" class="form-label">Property Tax</label>
                        <input type="text" class="form-control" id="property-tax" name="property-tax" value="{{ property.getPropertyTax()|e }}">
                    </fieldset>

                    <fieldset class="mb-3">
                        <label for="property-assos-fees" class="form-label">Assos. Fees</label>
                        <input type="text" class="form-control" id="property-assos-fees" name="property-assos-fees" value="{{ property.getAssosFee()|e }}">
                    </fieldset>

                    <fieldset class="mb-3">
                        <label for="property-addit-fees" class="form-label">Addit. Fees</label>
                        <input type="text" class="form-control" id="property-addit-fees" name="property-addit-fees" value="{{ property.getAdditFee()|e }}">
                    </fieldset>

                    <fieldset class="mb-3">
                        <label for="property-down-pay" class="form-label">Down Payment</label>
                        <input type="text" class="form-control" id="property-down-pay" name="property-down-pay" value="{{ property.getDownPayment()|e }}">
                    </fieldset>

                    <fieldset class="mb-3">
                        <label for="property-mort-amount" class="form-label">Mortg. Amount</label>
                        <input type="text" class="form-control" id="property-mort-amount" name="property-mort-amount" value="{{ property.getMortgAmount()|e }}">
                    </fieldset>

                    <fieldset class="mb-3">
                        <label for="property-mort-pay" class="form-label">Mortg. Pay</label>
                        <input type="text" class="form-control" id="property-mort-pay" name="property-mort-pay" value="{{ property.getMortgPay()|e }}">
                    </fieldset>

                    <fieldset class="mb-3">
                        <label for="property-monthly-ins" class="form-label">Monthly Insurance</label>
                        <input type="text" class="form-control" id="property-monthly-ins" name="property-monthly-ins" value="{{ property.getPropInsuranceMonth()|e }}">
                    </fieldset>

                    <fieldset class="mb-3">
                        <label for="property-description" class="form-label">Short Description</label>
                        <textarea class="form-control" id="property-description" name="property-description" >{{ property.getDescriptionForCard()|e }}</textarea>
                    </fieldset>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            {% endfor %}
        </div>

    </section>

    <section class="my-5">
        <h2 class="text-center mt-3 mb-3">Add new property</h2>

        <div class="d-flex justify-content-center mb-3">
            <button type="button" class="btn btn-primary btn-lg" id="add-new-property">Let's start</button>
        </div>


        {% if resultMessage is defined and resultMessage is not empty %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ resultMessage }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        <form method="POST" action="index.php?route=check-new-property" enctype="multipart/form-data" id="add-property-form" class="d-none">

            <input type="hidden" name="csrf-token" value="{{ csrf_token }}" />

            <fieldset class="mb-3">
                <label for="add-name" class="form-label">Property Name</label>
                <input type="text" class="form-control" id="add-name" name="add-name">
            </fieldset>

            <fieldset class="mb-3">
                <label for="add-location" class="form-label">Location</label>
                <input type="text" class="form-control" id="add-location" name="add-location">
            </fieldset>

            <fieldset class="mb-3">
                <label for="add-bed" class="form-label">No. Bedrooms</label>
                <input type="text" class="form-control" id="add-bed" name="add-bed">
            </fieldset>

            <fieldset class="mb-3">
                <label for="add-bath" class="form-label">No. Bathrooms</label>
                <input type="text" class="form-control" id="add-bath" name="add-bath">
            </fieldset>

            <fieldset class="mb-3">
                <label for="add-type" class="form-label">Type</label>
                <input type="text" class="form-control" id="add-type" name="add-type">
            </fieldset>

            <fieldset class="mb-3">
                <label for="add-feet" class="form-label">Sq. Feet</label>
                <input type="text" class="form-control" id="add-feet" name="add-feet">
            </fieldset>

            <fieldset class="mb-3">
                <label for="add-price" class="form-label">Listing Price</label>
                <input type="text" class="form-control" id="add-price" name="add-price">
            </fieldset>

            <fieldset class="mb-3">
                <label for="add-tr-tax" class="form-label">Transfer Tax</label>
                <input type="text" class="form-control" id="add-tr-tax" name="add-tr-tax">
            </fieldset>

            <fieldset class="mb-3">
                <label for="add-leg-fees" class="form-label">Legal Fees</label>
                <input type="text" class="form-control" id="add-leg-fees" name="add-leg-fees">
            </fieldset>

            <fieldset class="mb-3">
                <label for="add-inspection" class="form-label">Home Inspection</label>
                <input type="text" class="form-control" id="add-inspection" name="add-inspection">
            </fieldset>

            <fieldset class="mb-3">
                <label for="add-insurance" class="form-label">Insurance</label>
                <input type="text" class="form-control" id="add-insurance" name="add-insurance">
            </fieldset>

            <fieldset class="mb-3">
                <label for="add-mort-fees" class="form-label">Mortg. Fees</label>
                <input type="text" class="form-control" id="add-mort-fees" name="add-mort-fees">
            </fieldset>

            <fieldset class="mb-3">
                <label for="add-prop-tax" class="form-label">Property tax</label>
                <input type="text" class="form-control" id="add-prop-tax" name="add-prop-tax">
            </fieldset>

            <fieldset class="mb-3">
                <label for="add-assos-fees" class="form-label">Assos. Fees</label>
                <input type="text" class="form-control" id="add-assos-fees" name="add-assos-fees">
            </fieldset>

            <fieldset class="mb-3">
                <label for="add-addit-fees" class="form-label">Addit. Fees</label>
                <input type="text" class="form-control" id="add-addit-fees" name="add-addit-fees">
            </fieldset>

            <fieldset class="mb-3">
                <label for="add-down" class="form-label">Down Payment</label>
                <input type="text" class="form-control" id="add-down" name="add-down">
            </fieldset>

            <fieldset class="mb-3">
                <label for="add-mort-amount" class="form-label">Mortg. Amount</label>
                <input type="text" class="form-control" id="add-mort-amount" name="add-mort-amount">
            </fieldset>

            <fieldset class="mb-3">
                <label for="add-mort-pay" class="form-label">Mortg. Pay</label>
                <input type="text" class="form-control" id="add-mort-pay" name="add-mort-pay">
            </fieldset>

            <fieldset class="mb-3">
                <label for="add-monthly-ins" class="form-label">Monthly Insurance</label>
                <input type="text" class="form-control" id="add-monthly-ins" name="add-monthly-ins">
            </fieldset>

            <fieldset class="mb-3">
                <label for="add-description" class="form-label">Short Description</label>
                <textarea class="form-control" id="add-description" name="add-description" ></textarea>
            </fieldset>

            <fieldset class="mb-3">
                <label for="img-main" class="form-label">Select Main Image</label>
                <input class="form-control" type="file" id="img-main" name="img-main" onchange="checkFiles(this.files)">
            </fieldset>

            <fieldset class="mb-3">
                <label for="formFileMultiple" class="form-label">Select Other Images</label>
                <input class="form-control" type="file" id="formFileMultiple" name="images[]" onchange="checkFiles(this.files)" multiple>
            </fieldset>

            <button type="submit" class="btn btn-primary" >Submit</button>
        </form>

    </section>

    {% if role is same as 'admin' %}
    <section class="mb-5">
        <h2 class="text-center mb-3">Delete Property</h2>
        <ul class="d-flex flex-column align-items-center gap-2" style="list-style: none">
            {% for property in allProperties %}
            <li style="width: 300px">
                <div class="d-flex justify-content-between delete-property">
                    {{ property.getName() }}
                    <button type="button" class="border border-danger rounded px-2 text-danger bg-danger bg-gradient delete-btn" style="--bs-bg-opacity: .1" data-property-id="{{ property.getId() }}">DELETE</button>
                </div>



                <div class="border rounded p-2 d-none modal-window" id="modal-{{ property.getId() }}">
                    <p class="text-center">DELETE {{ property.getName() }}?</p>
                    <div class="d-flex justify-content-center gap-3">
                        <a href="index.php?route-delete-property&id={{ property.getId() }}" class="border rounded border-danger px-2 text-danger bg-danger text-decoration-none" style="--bs-bg-opacity: .1">Yes</a>
                        <button type="button" class="border rounded border-success px-2 text-success bg-success btn-no" style="--bs-bg-opacity: .1">No</button>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

</main>
{% endblock %}

{% block script %}
    <script src="../assets/js/admin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
{% endblock %}