{% extends 'admin.html.twig' %}

{% block content %}
<main>
    <section>
        <h1 class="text-center">Leads</h1>
        {% if downloadError is defined and downloadError is not empty %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ downloadError }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <div class="text-center mt-5">
            <a href="index.php?route=download-emails" class="border border-dark rounded p-2 bg-warning text-dark text-decoration-none" style="font-weight: bold;">Download all emails</a>
        </div>
        <h2 class="text-center mt-5 mb-5 border py-2 bg-info bg-opacity-10 border-start-0 border-end-0">Waiting for an answer</h2>
        <div class="btn-group position-relative top-50 start-50 translate-middle">
            <button class="btn btn-primary btn-lg dropdown-toggle leads-form-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Contact us page form
            </button>
            <ul class="dropdown-menu text-center" style="width: 100%">
                <li class="px-2 leads-option contact-option" role="button" tabindex="0">Contact us page form</li>
                <li><hr class="dropdown-divider"></li>
                <li class="px-2 leads-option properties-option" role="button" tabindex="0">Properties page</li>
                <li><hr class="dropdown-divider"></li>
                <li class="px-2 leads-option property-option" role="button" tabindex="0">Property page</li>
            </ul>
        </div>
        <div class="overflow-scroll" style="max-height: 600px">

            <table class="table table-contacts-form">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Inquiry Type</th>
                    <th scope="col">How Found Us</th>
                    <th scope="col">Message</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for lead in leads %}
                    <tr>
                        <th scope="row">{{ lead.getId()|e }}</th>
                        <td>{{ lead.getFirstName()|e }}</td>
                        <td>{{ lead.getLastName()|e }}</td>
                        <td>
                            {%set leadId = lead.getId() %}
                            {% if allEmailsContact[leadId] is defined %}
                                {{ allEmailsContact[leadId].getEmail()|e }}
                            {% else %}
                                Error
                            {% endif %}
                        </td>
                        <td>{{ lead.getPhone()|e }}</td>
                        <td class="{% if lead.getInquiryType()|e is same as 'Buy' %}text-success{% else %}text-primary{% endif %}">
                            {{ lead.getInquiryType()|e }}
                        </td>
                        <td>{{ lead.getHowFound()|e }}</td>
                        <td class="text-nowrap text-truncate contacts-lead-message" role="button" tabindex="0" style="max-width: 200px;">{{ lead.getMessage()|e }}</td>
                        <td style="min-width: 100px">{{ lead.getCreatedAt()|e }}</td>
                        <td>
                            {% if lead.isStatus()|e is same as false %}
                                <p class="text-danger">Pending</p>
                            {% endif %}
                            <a href="index.php?route=change-status-contact-lead&lead-id={{ lead.getId()|e }}" class="text-decoration-none text-success p-1 text-nowrap border border-success rounded bg-success bg-opacity-10">Done ✅</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


            <table class="table table-properties-form d-none">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Location</th>
                    <th scope="col">Type</th>
                    <th scope="col">No Bathrooms</th>
                    <th scope="col">No Bedrooms</th>
                    <th scope="col">Budget</th>
                    <th scope="col">Message</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for lead in propertiesLeads %}
                    <tr>
                        <th scope="row">{{ lead.getId()|e }}</th>
                        <td>{{ lead.getFirstName()|e }}</td>
                        <td>{{ lead.getLastName()|e }}</td>
                        <td>
                            {%set leadId = lead.getId() %}
                            {% if allEmailsProperties[leadId] is defined %}
                                {{ allEmailsProperties[leadId].getEmail()|e }}
                            {% else %}
                                Error
                            {% endif %}
                        </td>
                        <td>{{ lead.getPhone()|e }}</td>
                        <td>
                            {{ lead.getLocation()|e }}
                        </td>
                        <td>{{ lead.getPropertyType()|e }}</td>
                        <td>{{ lead.getNoBathroom()|e }}</td>
                        <td>{{ lead.getNoBedroom()|e }}</td>
                        <td>{{ lead.getBudget()|e }}</td>
                        <td class="text-nowrap text-truncate contacts-lead-message" role="button" tabindex="0" style="max-width: 200px;">{{ lead.getMessage()|e }}</td>
                        <td style="min-width: 100px">{{ lead.getCreatedAt()|e }}</td>
                        <td>
                            {% if lead.isStatus()|e is same as false %}
                                <p class="text-danger">Pending</p>
                            {% endif %}
                            <a href="index.php?route=change-status-properties-lead&lead-id={{ lead.getId()|e }}" class="text-decoration-none text-success p-1 text-nowrap border border-success rounded bg-success bg-opacity-10">Done ✅</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


            <table class="table table-property-form d-none">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Property</th>
                    <th scope="col">Message</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for lead in propertyLeads %}
                    <tr>
                        <th scope="row">{{ lead.getId()|e }}</th>
                        <td>{{ lead.getFirstName()|e }}</td>
                        <td>{{ lead.getLastName()|e }}</td>
                        <td>
                            {%set leadId = lead.getId() %}
                            {% if allEmailsProperty[leadId] is defined %}
                                {{ allEmailsProperty[leadId].getEmail()|e }}
                            {% else %}
                                Error
                            {% endif %}
                        </td>
                        <td>{{ lead.getPhone()|e }}</td>
                        <td>{% if allPropertiesNames[leadId] is defined and allPropertiesNames[leadId] is not empty %}
                                {{ allPropertiesNames[leadId].getName()|e }}
                            {% elseif allPropertiesNames[leadId] is empty %}
                                DELETED
                            {% else %}
                                Error
                            {% endif %}
                        </td>
                        <td class="text-nowrap text-truncate contacts-lead-message" role="button" tabindex="0" style="max-width: 200px;">{{ lead.getMessage()|e }}</td>
                        <td style="min-width: 100px">{{ lead.getCreatedAt()|e }}</td>
                        <td>
                            {% if lead.isStatus()|e is same as false %}
                                <p class="text-danger">Pending</p>
                            {% endif %}
                            <a href="index.php?route=change-status-property-lead&lead-id={{ lead.getId()|e }}" class="text-decoration-none text-success p-1 text-nowrap border border-success rounded bg-success bg-opacity-10">Done ✅</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </section>

    <section class="mb-5">
        <h2 class="text-center mt-5 mb-5 border py-2 bg-info bg-opacity-10 border-start-0 border-end-0">All leads</h2>
        <div class="btn-group position-relative top-50 start-50 translate-middle">
            <button class="btn bg-success text-white bg-gradient btn-lg dropdown-toggle all-leads-form-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Contact us page form
            </button>
            <ul class="dropdown-menu text-center" style="width: 100%">
                <li class="px-2 all-leads-option all-contact-option" role="button" tabindex="0">Contact us page form</li>
                <li><hr class="dropdown-divider"></li>
                <li class="px-2 all-leads-option all-properties-option" role="button" tabindex="0">Properties page</li>
                <li><hr class="dropdown-divider"></li>
                <li class="px-2 all-leads-option all-property-option" role="button" tabindex="0">Property page</li>
            </ul>
        </div>
        <div class="overflow-scroll" style="max-height: 900px">
            <table class="table table-all-contacts-form">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Inquiry Type</th>
                    <th scope="col">How Found Us</th>
                    <th scope="col">Message</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Status</th>
                    <th scope="col">Answered At</th>
                </tr>
                </thead>
                <tbody>
                {% for lead in allContactsLeads %}
                    <tr>
                        <th scope="row">{{ lead.getId()|e }}</th>
                        <td>{{ lead.getFirstName()|e }}</td>
                        <td>{{ lead.getLastName()|e }}</td>
                        <td>
                            {%set leadId = lead.getId() %}
                            {% if emailsForAllContacts[leadId] is defined %}
                                {{ emailsForAllContacts[leadId].getEmail()|e }}
                            {% else %}
                                Error
                            {% endif %}
                        </td>
                        <td>{{ lead.getPhone()|e }}</td>
                        <td class="{% if lead.getInquiryType()|e is same as 'Buy' %}text-success{% else %}text-primary{% endif %}">
                            {{ lead.getInquiryType()|e }}
                        </td>
                        <td>{{ lead.getHowFound()|e }}</td>
                        <td class="text-nowrap text-truncate contacts-lead-message" role="button" tabindex="0" style="max-width: 200px;">{{ lead.getMessage()|e }}</td>
                        <td style="min-width: 100px">{{ lead.getCreatedAt()|e }}</td>
                        <td>
                            {% if lead.isStatus()|e is same as false %}
                                <p class="text-danger">Pending</p>
                            {% else%}
                                <p class="text-success">Answered</p>
                            {% endif %}
                        </td>
                        <td style="min-width: 100px">{{ lead.getAnsweredAt()|e }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <table class="table table-all-properties-form d-none">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Location</th>
                    <th scope="col">Type</th>
                    <th scope="col">No Bathrooms</th>
                    <th scope="col">No Bedrooms</th>
                    <th scope="col">Budget</th>
                    <th scope="col">Message</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Status</th>
                    <th scope="col">Answered At</th>
                </tr>
                </thead>
                <tbody>
                {% for lead in allPropertiesLeads %}
                    <tr>
                        <th scope="row">{{ lead.getId()|e }}</th>
                        <td>{{ lead.getFirstName()|e }}</td>
                        <td>{{ lead.getLastName()|e }}</td>
                        <td>
                            {%set leadId = lead.getId() %}
                            {% if emailsForAllProperties[leadId] is defined %}
                                {{ emailsForAllProperties[leadId].getEmail()|e }}
                            {% else %}
                                Error
                            {% endif %}
                        </td>
                        <td>{{ lead.getPhone()|e }}</td>
                        <td>
                            {{ lead.getLocation()|e }}
                        </td>
                        <td>{{ lead.getPropertyType()|e }}</td>
                        <td>{{ lead.getNoBathroom()|e }}</td>
                        <td>{{ lead.getNoBedroom()|e }}</td>
                        <td>{{ lead.getBudget()|e }}</td>
                        <td class="text-nowrap text-truncate contacts-lead-message" role="button" tabindex="0" style="max-width: 200px;">{{ lead.getMessage()|e }}</td>
                        <td style="min-width: 100px">{{ lead.getCreatedAt()|e }}</td>
                        <td>
                            {% if lead.isStatus()|e is same as false %}
                                <p class="text-danger">Pending</p>
                            {% else%}
                                <p class="text-success">Answered</p>
                            {% endif %}
                        </td>
                        <td style="min-width: 100px">{{ lead.getAnsweredAt()|e }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <table class="table table-all-property-form d-none">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Property</th>
                    <th scope="col">Message</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Status</th>
                    <th scope="col">Answered At</th>
                </tr>
                </thead>
                <tbody>
                {% for lead in allPropertyLeads %}
                    <tr>
                        <th scope="row">{{ lead.getId()|e }}</th>
                        <td>{{ lead.getFirstName()|e }}</td>
                        <td>{{ lead.getLastName()|e }}</td>
                        <td>
                            {%set leadId = lead.getId() %}
                            {% if emailsForAllProperty[leadId] is defined %}
                                {{ emailsForAllProperty[leadId].getEmail()|e }}
                            {% else %}
                                Error
                            {% endif %}
                        </td>
                        <td>{{ lead.getPhone()|e }}</td>
                        <td>{% if namesForAllProperty[leadId] is defined and namesForAllProperty[leadId] is not empty %}
                                {{ namesForAllProperty[leadId].getName()|e }}
                            {% elseif namesForAllProperty[leadId] is empty%}
                                DELETED
                            {% else %}
                                Error
                            {% endif %}
                        </td>
                        <td class="text-nowrap text-truncate contacts-lead-message" role="button" tabindex="0" style="max-width: 200px;">{{ lead.getMessage()|e }}</td>
                        <td style="min-width: 100px">{{ lead.getCreatedAt()|e }}</td>
                        <td>
                            {% if lead.isStatus()|e is same as false %}
                                <p class="text-danger">Pending</p>
                            {% else%}
                                <p class="text-success">Answered</p>
                            {% endif %}
                        </td>
                        <td style="min-width: 100px">{{ lead.getAnsweredAt()|e }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</main>
    <div id="modalContainer"></div>
{% endblock %}

{% block script %}
    <script src="../assets/js/admin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
{% endblock %}