{% extends 'layout.html.twig' %}

{% block description %}
Global agency for the selection and sale of real estate.
{% endblock %}

{% block content %}
    <!--!------------------------TOP------------------ -->
    <section class="home_top">
        <div class="home_top__img">
            <img src="../assets/img/ImageMain.png" alt="Big building" width="354" height="312">
            <div class="circle">
                <img src="../assets/img/Sub.png" alt="Discover your dream property" width="117" height="117">
            </div>

        </div>

        <article class="home_top__article">
            <h1 class="home_top__title">Discover Your Dream Property with Estatein</h1>
            <p class="home_top__paragraph">Your journey to finding the perfect property begins here. Explore our listings to find the home that matches your dreams.</p>
            <div class="home_top__btn_container">
                <a class="home_top__btn_learn" href="index.php?route=contact" aria-label="Сontact us and we will provide you with all the detailed information on your request">Learn More</a>
                <a class="home_top__btn_browse" href="index.php?route=properties">Browse Properties</a>
            </div>
            <div class="home_top__statistic">
                <div class="home_top__stat">
                    <p class="home_top__number">
                        200+
                    </p>
                    <p class="home_top__stat-text">
                        Happy Customers
                    </p>
                </div>
                <div class="home_top__stat">
                    <p class="home_top__number">
                        10k+
                    </p>
                    <p class="home_top__stat-text">
                        Properties For Clients
                    </p>
                </div>
                <div class="home_top__stat">
                    <p class="home_top__number">
                        16+
                    </p>
                    <p class="home_top__stat-text">
                        Years of Experience
                    </p>
                </div>
            </div>
        </article>

        <div class="home_top__cards">
            <div class="home_top__card">
                <img src="../assets/icons/Home.png" alt="Home icon" width="48" height="48">
                <p class="home_top__card_desc">
                    Find Your Dream Home
                </p>

                <div class="arrow">
                    <span></span>
                </div>

            </div>

            <div class="home_top__card">
                <img src="../assets/icons/Value.png" alt="Money icon" width="48" height="48">
                <p class="home_top__card_desc">
                    Unlock Property Value
                </p>
                <div class="arrow">
                    <span></span>
                </div>
            </div>

            <div class="home_top__card">
                <img src="../assets/icons/Property.png" alt="Building icon" width="48" height="48">
                <p class="home_top__card_desc">
                    Effortless Property Management
                </p>
                <div class="arrow">
                    <span></span>
                </div>
            </div>

            <div class="home_top__card">
                <img src="../assets/icons/Smart.png" alt="Sun icon" width="48" height="48">
                <p class="home_top__card_desc">
                    Smart Investments, Informed Decisions
                </p>
                <div class="arrow">
                    <span></span>
                </div>
            </div>
        </div>
    </section>
    <!--!------------------------FEATURED----------------->
    <section class="featured container">
        <div class="stars">
            <img src="../assets/icons/star.png" alt="stars icon" width="46" height="20" >
        </div>
        <h2 class="featured__title">Featured Properties</h2>
        <p class="featured__paragraph">Explore our handpicked selection of featured properties. Each listing offers a glimpse into exceptional homes and investments available through Estatein.</p>

        <div class="featured__swiper">
            {% for property in allProperties %}
            <article class="featured__card">
                <div class="featured__card_img">
                    <img src="{{ property.img_url }}" alt="{{ property.name }}" width="264" height="210">
                </div>
                <h3>{{ property.name }}</h3>
                <p class="featured__card_text">{{ property.description }}</p>
                <div class="featured__card_notes">
                    <div class="featured__card_note">
                        <img src="../assets/icons/bedroom.svg" alt="bedroom icon" width="20" height="20">
                        <p>{{ property.no_bedrooms }}-Bedroom</p>
                    </div>
                    <div class="featured__card_note">
                        <img src="../assets/icons/Bathroom.svg" alt="Bathroom icon" width="20" height="20">
                        <p>{{ property.no_bathrooms }}-Bathroom</p>
                    </div>
                    <div class="featured__card_note">
                        <img src="../assets/icons/villa.svg" alt="Building icon" width="20" height="20">
                        <p>{{ property.type }}</p>
                    </div>
                </div>
                <div class="featured__card_footer">
                    <p class="featured__card_price">Price</p>
                    <p class="featured__card_value">{{ property.price }}</p>
                    <a href="index.php?route=propertyDetails&property={{ property.id }}"><p>View Property Details</p></a>
                </div>
            </article>
         {% endfor %}

            <div class="js-overlay"></div>
        </div>
        <a class="featured__link" href="index.php?route=properties">View All Properties</a>
        <div class="featured__btn_container">
            <div class="featured__btn left"  tabindex="0">
                <div class="arrow">
                    <span></span>
                </div>
            </div>
            <div class="featured__btn right" tabindex="0">
                <div class="arrow">
                    <span></span>
                </div>
            </div>
        </div>
    </section>
    <!--!------------------------REVIEWS--------------- -->
    <section class="reviews container">
        <div class="stars">
            <img src="../assets/icons/star.png" alt="stars icon" width="46" height="20">
        </div>
        <h2 class="reviews__title">What Our Clients Say</h2>
        <p class="reviews__paragraph">Read the success stories and heartfelt testimonials from our valued clients. Discover why they chose Estatein for their real estate needs.</p>

        <div class="reviews__swiper">

            <article class="reviews__card ">
                <div class="reviews__card_stars">
                    <img src="../assets/icons/Stars.png" alt="client review points - 5 stars" width="151" height="25.5">
                </div>
                <h3>Exceptional Service!</h3>
                <p class="reviews__card_text">Our experience with Estatein was outstanding. Their team's dedication and professionalism made finding our dream home a breeze. Highly recommended!</p>
                <div class="reviews__card_footer">
                    <div class="reviews__card_img">
                        <img src="../assets/img/clients/gael.webp" alt="Wade Warren Photo" width="50" height="50">
                    </div>
                    <div class="reviews__card_footer_txt">
                        <p class="reviews__card_name">Wade Warren</p>
                        <p class="reviews__card_location">USA, California</p>
                    </div>
                </div>
            </article>

            <article class="reviews__card ">
                <div class="reviews__card_stars">
                    <img src="../assets/icons/Stars.png" alt="client review points - 5 stars" width="151" height="25.5">
                </div>
                <h3>Efficient and Reliable</h3>
                <p class="reviews__card_text">Estatein provided us with top-notch service. They helped us sell our property quickly and at a great price. We couldn't be happier with the results.</p>
                <div class="reviews__card_footer">
                    <div class="reviews__card_img">
                        <img src="../assets/img/clients/Emily.webp" alt="Emelie Thomson Photo" width="50" height="50">
                    </div>
                    <div class="reviews__card_footer_txt">
                        <p class="reviews__card_name">Emelie Thomson</p>
                        <p class="reviews__card_location">USA, Florida</p>
                    </div>
                </div>
            </article>

            <article class="reviews__card ">
                <div class="reviews__card_stars">
                    <img src="../assets/icons/Stars.png" alt="client review points - 5 stars" width="151" height="25.5">
                </div>
                <h3>Trusted Advisors</h3>
                <p class="reviews__card_text">The Estatein team guided us through the entire buying process. Their knowledge and commitment to our needs were impressive. Thank you for your support!</p>
                <div class="reviews__card_footer">
                    <div class="reviews__card_img">
                        <img src="../assets/img/clients/John.webp" alt="John Mans Photo" width="50" height="50">
                    </div>
                    <div class="reviews__card_footer_txt">
                        <p class="reviews__card_name">John Mans</p>
                        <p class="reviews__card_location">USA, Nevada</p>
                    </div>
                </div>
            </article>

            <article class="reviews__card ">
                <div class="reviews__card_stars">
                    <img src="../assets/icons/Stars.png" alt="client review points - 5 stars"  width="151" height="25.5">
                </div>
                <h3>Exceptional Service!</h3>
                <p class="reviews__card_text">Estatein made buying our first home a breeze. The team was professional, attentive, and guided us every step of the way. Highly recommend!</p>
                <div class="reviews__card_footer">
                    <div class="reviews__card_img">
                        <img src="../assets/img/clients/family.webp" alt="Emily Raynald and her husband Photo" width="50" height="50">
                    </div>
                    <div class="reviews__card_footer_txt">
                        <p class="reviews__card_name">Emily Raynald</p>
                        <p class="reviews__card_location">France, Rennes</p>
                    </div>

                </div>
            </article>

            <article class="reviews__card ">
                <div class="reviews__card_stars">
                    <img src="../assets/icons/Stars.png" alt="client review points - 5 stars"  width="151" height="25.5">
                </div>
                <h3>Trusted Advisors</h3>
                <p class="reviews__card_text">Exceptional service from Estatein! They found us the perfect property within our budget and handled all the details seamlessly. Truly a stress-free experience</p>
                <div class="reviews__card_footer">
                    <div class="reviews__card_img">
                        <img src="../assets/img/clients/Maksym.webp" alt="Maksym Voznichka" width="50" height="50">
                    </div>
                    <div class="reviews__card_footer_txt">
                        <p class="reviews__card_name">Maksym Voznichka</p>
                        <p class="reviews__card_location">Ukraine, Odessa</p>
                    </div>

                </div>
            </article>


        </div>
        <div class="reviews__btn_container">
            <div class="reviews__btn left" tabindex="0">
                <div class="arrow">
                    <span></span>
                </div>
            </div>
            <div class="reviews__btn right" tabindex="0">
                <div class="arrow">
                    <span></span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
